<!DOCTYPE html>
<html>
	<body>
		
	<!--		
		<th:block th:fragment="head(title)">
				
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
				<title>[[${title}]]</title>
				
		</th:block>
	-->		
		
	<header class="mb-4" th:fragment="header()">
				
		<div class="container-fluid border-1">
			
			<div class="row">
				
				<div class="col-3 border">
					<h1>
						best of the year logo
					</h1>
				</div>
				
				<div class="col-9 border">
					
					<div class="row h-100 justify-content-start align-items-center">
						
						<div class="gx-2 col-1 text-center" th:insert="Frags :: button('/movie' , 'Movies')"></div>
						
						<div class="gx-2 col-1 text-center" th:insert="Frags :: button('/song' , 'Songs')"></div>
						
					</div>
			
				</div>
				
			</div>
			
		</div>
		
	</header>
	
		<a
			th:fragment="button(link , title)"
			th:href="@{${link}}"
			
			class="btn btn-primary"
			>
			[[${{title}}]]
		</a>
	
	</body>
</html>