<!DOCTYPE html>
<html>
<head th:replace="Frags :: head('Best of the Year')" >
	
</head>

<body  data-bs-theme="dark">
	
	
	<th:block th:replace="Frags :: header()"></th:block>
	
	<main>
		
		<div class="container">
			
			<h1 class="text-center">
				Best of the year by [[${dev}]]
			</h1>
			
			<div class=" my-4 row justify-content-center">
				
				<img class=" w-75 img-fluid border border-warning" alt="img" th:src="@{/img.png}" />
				
				<h4 class=" my-4 text-center border ">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum,
					 purus nec eleifend varius, nunc augue porta sapien, a sollicitudin felis metus id ex.
					  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					   Pellentesque vitae mattis dolor. Orci varius natoque penatibus et magnis dis parturient montes.
				</h4>
				
			</div>
			
			
		</div>
		
		
	</main>
		
	
	
	
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>