<!DOCTYPE html>
<html>
<head th:replace="Frags :: head('MoviesPage')" >
	
</head>
<body data-bs-theme="dark">
	
	<th:block th:replace="Frags :: header()"></th:block>
	
	<div class="container">
		
		<h1 class="text-center my-4">
			The Best of Movies of the year
		</h1>
		
		<ul class="text-center border my-4">
			<li class="border-bottom" th:each="movie : ${movies}" >
				
				<div th:insert="Frags :: button('/movie/'+ ${movie.getId()} , ${movie.getTitle()})"></div>
			
			</li>
				
		</ul>
		
		<div class="col-3 text-center m-auto" th:insert="Frags :: button('/' , 'home')"></div>
		
	</div>

</body>
</html>

